* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}


p {
  font-family: OpenSans, Helvetica, Arial;
}

nav {
  z-index: 2;
}

nav::before {
  content: "";
  /* width: 583px; */
  /* height: 646px; */
  background: url(../images/natalie-smyth-cartoon.png) no-repeat right;;
  /* background-size: auto; */
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
  
  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }
  