* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}

nav {
  background-color: #FF4F50;
  height: 86px;
}

nav::after {
  content: "";
  width: 583px;
  height: 346px;
  background-image: url(../images/natalie-smyth-cartoon.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 300px;
  right: 150px;
}

p {
  font-family: OpenSans, Helvetica, Arial;
}

  
  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }
  
  @media (max-width: 414px) {
    .cartoon-me { display: none; }
    .welcome-card { margin-top: 2.5em; }
    .
  }
  


