* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* main {
    position: relative;
    background-image: url(./../images/portfolio-woman.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50% 50% contain;
    top: 94px; 
} */


h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

li a {
    color: #CF1332;
}

nav {
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#home {
    height: 80vh;
}

.text {
    width: 10em;
}

.fixed-img {
    position: fixed;
}
/***** BOOTSTRAP CLASSES *****/

.mb-1 {
    margin-bottom: 6.25rem!important;
}

.p-1 {
    padding: 12.25rem!important;
}


.pl-2 {
    padding-left: 12.25rem!
  }

.text-block {
    z-index: 2;
}

.readout {
    /* color: #ddd; */
    font-size:  1rem;
    margin-top: 1em;
    /* position: relative; */
    top: 2em;
    /* text-align: center; */
  }

.readout b {
    text-align: left;
}

#home p {
    margin-left: 24.5em;
    font-size: 1rem;
}

/***** SCROLLING TEXT *****/

  
  p {
    /* float: left; */
    margin-bottom: 0%;
    font-family: OpenSans, Helvetica, Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: none;
    color: #5D656C;
  }


.hero {
    position: relative;
    width: 40vw;
    height: 67vh;
    top: 11em;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1em;
    text-align: center;
    /* position: relative; */
    top: 2em;
}

.hero-text {
    /* position: relative; */
    text-align: left;
    /* left: 30em; */
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}

.hero-button {
    background-color: #879199;
    color: #f3f3f3;
    border: 1px solid #d1d5d8;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
    position: absolute;
}

.hero-button:hover {
    background-color: #d1d5d8;
    border: 1px solid #454c51;
}

#about, #projects, #contact {
    position: relative;
    z-index: 2;
}

.cartoon-me {
    position: relative;
    z-index: 1;
}
/***** NAV *****/

.nav-list {
    justify-content: flex-end;
}

.nav-item {
    font-size: 1.3em;
    padding: 0 20px 0 20px;
}

.nav-item a {
    color: #454c51;
}


/***** CONTACT *****/

#contact {
    width: 60vw;
    line-height: 2.5;
}


/***** FOOTER *****/

footer {
    width: 100vw;
    /* padding: 2% 5%; */
    text-align: center;
}

@media screen and (max-width: 992px) {
    /* .cartoon-me {
      display: none;
    } */

    .img-fluid{
        position: relative;
    }

    .p-1 {
        padding: 0rem;
    }
  }