body {
    margin: 0;
    padding: 0;
}

h2 {
    padding: 3% 5%;
}

nav {
    background-color: #454c51;
    color: #f3f3f3;
}

/***** BOOTSTRAP CLASSES *****/

.mb-1 {
    margin-bottom: 6.25rem!important;
}

.p-1 {
    padding: 12.25rem!important;
}









/***** SCROLLING TEXT *****/
#two {
    /* background: #ff8e71; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    /* color: #ebd8d0; */
  }
  
  .box {
    height: 40px;
    overflow: hidden;
    position: relative;
  }
  .box::before {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    content: '';
    height: 10px;
    position: absolute;
    background: linear-gradient(180deg, #fff, rgba(255, 142, 113, 0));
  }
  .box::after {
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    content: '';
    height: 10px;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 142, 113, 0), #fff);
  }
  
  p {
    /* float: left; */
    margin-bottom: 0%;
  }
  
  .scrolling-text-items {
    float: right;
    text-align: left;
    margin: 0;
    padding-top: 0;
    -webkit-animation: scrollUp 12s ease-in-out infinite normal;
            animation: scrollUp 12s ease-in-out infinite normal;
  }
  
  .scrolling-text-items li {
    opacity: 1;
    /* height: 20px; */
    /* padding-top: 30px; */
    list-style: none;
    line-height: 2em;
  }
  
  @-webkit-keyframes scrollUp {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
    }
  }
  
  @keyframes scrollUp {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
    }
  }


.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./../images/njlc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.hero-content {
    position: relative;
    text-align: center;
    font-family: "Monserrat", sans-serif;
    /* color: black; */
    text-align: center;
    margin: 0.625rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1em;
    text-align: left;
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}

.hero-button {
    background-color: #879199;
    color: #f3f3f3;
    border: 1px solid #d1d5d8;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #d1d5d8;
    border: 1px solid #454c51;
}

/***** NAV *****/

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.nav-item {
    font-size: 1.3em;
    padding: 20px;
    color: #f3f3f3;
}

/***** LAYOUT *****/

.container {
    max-width: 980px;
    padding: 3% 5%;
    /* margin: 0 auto; */
    font-size: 1.3em;
    line-height: 1.6;;
}

.dark-container {
    padding: 12% 31%;
    text-align: center;
    background-color: #454c51;
    color: #f3f3f3;
    line-height: 1.5;
}

/***** PROJECT GALLERY *****/

.project-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-gallery img {
    max-width: 250px;
    margin-bottom: 25px;
    opacity: 0.9;
    transition: opacity 0.2 linear, transform 0.2s ease-in-out;
}

.project-gallery img:hover {
    opacity: 1;
    transform:scale(1.15);
    cursor: pointer;
}

/***** CONTACT *****/

#contact {
    width: 100vw;
    line-height: 2.5;
    /* color: #f3f3f3; */
}


/***** FOOTER *****/

footer {
    width: 100vw;
    padding: 2% 5%;
    text-align: center;
}





















