body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    position: relative;
    background-image: url(./../images/portfolio-woman.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 94px;

}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

li a {
    color: #CF1332;
}

h2 {
    padding: 3% 5%;
    text-align: center;
}

nav {
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    /* line-height: 28px; */
    text-transform: uppercase;
    /* text-align: right; */
}

#home {
    height: 80vh;
}

/***** BOOTSTRAP CLASSES *****/

.mb-1 {
    margin-bottom: 6.25rem!important;
}

.p-1 {
    padding: 12.25rem!important;
}


.pl-2 {
    padding-left: 12.25rem!
  }


.readout {
    /* color: #ddd; */
    font-size: 2em;
    margin-top: 1em;
    position: relative;
    top: 2em;
    text-align: center;
  }

.readout b {
    text-align: left;
}


/***** SCROLLING TEXT *****/

  
  p {
    /* float: left; */
    margin-bottom: 0%;
    font-family: OpenSans, Helvetica, Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: none;
    color: #5D656C;
  }


.hero {
    position: relative;
    width: 40vw;
    height: 67vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* left: 20em; */
    top: 11em;
}

/* .cartoon-me img {
    width: 30%;
} */

/* .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    filter: brightness(60%);
} */

/* .hero-content {
    display: flex;
    position: relative;
    color: black;
    text-align: center;
    min-height: 350px;
} */

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1em;
    text-align: center;
    position: relative;
    top: 2em;
}

.hero-text {
    position: relative;
    text-align: left;
    /* left: 30em; */
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}

.hero-button {
    background-color: #879199;
    color: #f3f3f3;
    border: 1px solid #d1d5d8;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
    position: absolute;
}

.hero-button:hover {
    background-color: #d1d5d8;
    border: 1px solid #454c51;
}

/***** NAV *****/

.nav-list {
    justify-content: flex-end;
}

.nav-item {
    font-size: 1.3em;
    padding: 0 20px 0 20px;
}

.nav-item a {
    color: #454c51;
}
/***** LAYOUT *****/





/***** CONTACT *****/

#contact {
    width: 60vw;
    line-height: 2.5;
}


/***** FOOTER *****/

footer {
    width: 100vw;
    /* padding: 2% 5%; */
    text-align: center;
}





















