/*****Color & Font Key
black-color: #343338;
white: #FFFFFF;
off-white: #CDD5D1;
off-purple: #6F7184;
rose: #D8C0B8;

font-family: 'Poppins', sans-serif;
***************/

/*****Global*****/
* {
	font-family: 'Poppins', sans-serif;
}

h3 {
	font-size: 1.35em;
}

p {
	font-size: 1.25em;
}

.page {
	min-height: 100vh;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.navbar-inverse {
	background-color: #343338;
	border-color: #343338;
}

.collapsed-navbar {
	background-color: #343338;
	color: #FFFFFF;
	font-size: 1.15em;
	font-family: 'Poppins', sans-serif;
	height: 9.5%;
}

.site-navbar {
	position: fixed;
	background-color: #343338;
	min-width: 100vw;
}

.site-navbar ul li a {
	color: #FFFFFF;
	font-size: 1.35em;
	font-family: 'Poppins', sans-serif;
	margin-top: 6px;
}

/*****Home Page*****/
#hero-img {
	min-width: 100vw;
	height: 100vh;
	width: 100vw;
}

#box {
	width: 50%;
	height: 30%;
	padding-top: 1.5%;
	border: 0.01em solid #ffffff;
	position: absolute;
	margin-top: 35vh;
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
}

#name-heading {
	font-family: 'Poppins', sans-serif;
	font-weight: lighter;
}

/*****About Page*****/
#about-page {
	background-color: #D8C0B8;
	height: auto;
	width: 100vw;
	font-size: 1.3em;
}

#about-me-blurb {
	visibility: hidden;
	margin-top: 32vh;
	color: #343338;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}

/*****Work Flow Page*****/

#work-flow-page {
	background-color: #343338;
}

.all-steps {
	visibility: hidden;
}

.work-flow-text {
	visibility: hidden;
	text-align: center;
	height: 100vh;
	background-color: #ffffff;
	color: #343338;
	width: 50vw;
}

.work-flow-text h3, p {
	margin-top: 40vh;
	font-family: 'Poppins', sans-serif;
}

.work-flow-text p {
	margin: 0 auto;
}

/*Row Class*/
.work-flow-snippets {
	height: 45%;
	width: 100%;
}

.steps {
	min-width: 50%;
	height: 50vh;
	text-align: center;
	color: #ffffff;
}

#step-one {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

#step-two {
	border-bottom: 1px solid #fff;
}

#step-four {
	border-right: 1px solid #fff;
}


.steps h3 {
	margin-top: 30%;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-left: 18px;
}

.steps ul li {
	list-style: none;
	font-family: 'Poppins', sans-serif;
	margin-left: -1.5em;
	font-size: 1.15em;
}

/*****Work Page*****/
#work-page {
	background-color: #FFFFFF;
	height: 100vh;
}

.work-text h3, p {
	margin-top: 22vh;
	font-family: 'Poppins', sans-serif;
	color: #343338;
}

.work-text a {
	text-decoration: none;
	color: #343338;
}

.work-text a:hover {
	color: #E8C0B8;
	text-decoration: none;
}

.work-text p span {
	font-weight: bolder;
	font-size: 1.1em;
}


#a-few-short-miles {
	visibility: hidden;
	margin-top: 2%;
	width: 48%;
	margin-right: 2%;
}

#within-reach {
	visibility: hidden;
	margin-top: 2%;
	width: 48%;
	margin-left: 2%;
}

#the-best-hour {
	visibility: hidden;
	margin-top: -2%;
	width: 48%;
	margin-right: 2%;
}

/*Preview Div Class*/
.preview {
	margin-top: 25vh;
	width: 100%;
	height: 100%;
}

/*Preview Image Class*/
.img-preview {
	width: 100%;
	height: 320px;
}

#few-short-miles-preview {
	visibility: hidden;
}

#within-reach-preview {
	visibility: hidden;
	margin-left: 2%;
}

#best-hour-preview {
	visibility: hidden;
	margin-top: -10vh;
}


/*****Contact Page*****/
#contact-page {
	background-color: #343338;
	width: 100vw;
}

.contact-text {
	margin-top: 10%;
	color: #ffffff;
}

#contact-text h3 {
	font-family: 'Poppins', sans-serif;
}

#contact-page p {
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
}

#resume {
	text-decoration: none;
	color: #fff;
}

#resume:hover {
	color: #E8C0B8;
}

.icon-container {
	display: inline-block;
	margin-top: 7%;
	text-align: center;
}

.icon {
	width: 15%;
	padding: 0.5em;
}

#copyright {
	text-align: center;
	color: #ffffff;
	margin-top: 12%;
	font-family: 'Poppins', sans-serif;
}

@media (min-width: 200px) and (max-width: 1125px) {
/*****Home Page*****/

	#box {
		width: 60%;
		margin: 25% 20%;
		border: none;
	}

/*****About Page*****/

	#about-me-blurb {
		text-align: center;
		margin-top: 35%;
		font-size: 0.85em;
	}
/*****Work Flow Page*****/

	.work-flow-text {
		height: 10%;
		background-color: #343338;
	}

	#my-workflow-text {
		color: #ffffff;
		text-align: center;
	}

	#my-workflow-heading {
		color: #D8C0B8;
		text-align: center;
	}

	.work-flow-text h3, p {
		margin-top: 20%;
	}

	.steps h3 {
		color: #D8C0B8;
	}

	.steps {
		margin-top: -100px;
		height: auto;
	}

	#step-one {
		border: none;

	}

	#step-two {
		border: none;
	}

	#step-four {
		border: none;
	}

/*****Work Page*****/

	.img-preview {
		width: 100%;
		height: auto;
	}

	#a-few-short-miles, #within-reach, #the-best-hour {
		width: 80%;
		margin-left: 10%;
	}
}